build
devel
install
.vscode/start_program
.vscode/launch.py
.vscode/settings.json
runtime_log
__pycache__
.idea
cmake-build-debug
cmake-build-release
log
log_history/
video/
.history/
src/robot_localization/robot_localization/pcd_map/*.pcd
src/robot_localization/pcd_maps/*.pcd
src/robot_localization/robot_localization/pcd_map/*.stl

src/robot_localization/robot_localization/include/global_path_defination/global_path.h


src/robot_localization/front_end/PCD/*.pcd
src/robot_localization/front_end/pcd_maps/*.pcd
src/robot_localization/front_end/pcd_maps/*.bin

src/robot_localization/robot_localization/optimization_data/*.txt
src/robot_localization/robot_localization/optimization_data/Scans/*.pcd
src/bag_record/bags/*
!src/bag_record/bags/.keep
src/databag_tool/bags/*
!src/databag_tool/bags/.keep
src/robot_localization/front_end/PCD/*.pcd
src/robot_localization/front_end/pcd_maps/*.pcd
src/robot_localization/front_end/pcd_maps/*.bin

src/robot_localization/robot_localization/optimization_data/*.txt
src/robot_localization/robot_localization/optimization_data/Scans/*.pcd

src/databag_tool/bags/*
!src/databag_tool/bags/.keep

src/robot_localization/pcd_maps/*
!src/robot_localization/pcd_maps/.keep

src/robot_localization/front_end/slam_pcd_maps/*
!src/robot_localization/front_end/slam_pcd_maps/.keep

.cache


src/robot_localization/lio_pgo/optimization_data
src/robot_localization/lio_pgo/optimization

src/robot_localization/LIO_SAM/config/doc/*
!src/robot_localization/LIO_SAM/config/doc/system.png

src/robot_localization/lio_pgo/*.pcd
error_log/
core_dump/

ros2bags/*
!ros2bags/.keep
src/robot_localization/PV-LIO/pcd_maps/*.pcd
!src/robot_localization/PV-LIO/pcd_maps/.keep

src/roborts_navigation/con_map/*.map
!src/roborts_navigation/con_map/*.tmp

.vscode/c_cpp_properties.json